.ProgressTracker {
  order: 2;
  width: 300px;
  /* height: 100%; */
  font-family: 'SBL Greek', serif;
  /* font-weight: bold; */
  border: 1px solid green;
  color: grey;
}

p.align-right {
  text-align: right;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li.success:before {
  content: "✓";
  font-family: 'Menlo';
  font-weight: bold;
  padding-right: 5px;
  color: #26de81;
}
li.fail:before {
  content: "✕";
  font-family: 'Menlo';
  font-weight: bold;
  padding-right: 5px;
  color: #fc5c65;
}
