body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

}

div {
  border: none !important;
}

select {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
}

button {
  /* font-family: 'Times New Roman', serif; */
  /* font-size: 20px; */
}
