.QuestionAnswer {
  order: 1;
  flex-grow: 1;
  border: 1px purple solid
}

.QuestionAnswer .Question {
  /* height: 200px; */
  /* font-family: 'SBL Greek'; */
  font-style: italic;
  font-size: 150px;
  text-align: center;
  border: 2px solid red;
}

.QuestionAnswer input {
  width: 70%;
  display: block;
  margin: auto;
  font-size: 70px;
  margin-top: 30px;
  border: none;
  /* border: 2px solid yellow; */
  border-bottom: 1px solid grey;
  background-color: inherit;
  font-family: 'Plantin';
  padding: 0;
}
.QuestionAnswer input:focus {
  outline: none;
}
