.QuestionAnswer {
  width: 67%;
}
.QuestionAnswer input {
  font-size: 70px;
  margin-top: 30px;
  border: 2px solid yellow;
  border-bottom: 1px solid grey;
  background-color: inherit;
  font-family: 'Plantin';
  padding: 0;
  width: 100%;
}
.QuestionAnswer input:focus {
  outline: none;
}
