body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

* {
  /* border: none !important; */
}
