.Answer {
  width: 50%;
}
.Answer input {
  font-size: 70px;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid grey;
  background-color: inherit;
  font-family: 'Plantin';
  padding: 0;
}
.Answer input:focus {
  outline: none;
}
